<!DOCTYPE html >
<html ng-app="home">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
<script type="text/javascript" src="home.js"></script>
<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}
</style>
</head>
<body ng-controller="CtrlHome"
	ng-init="hide=true; parameter.search='ALL'; parameter.filter='None'; hideProdaja=true; hideTest=true; hideAddOp=true; hideOperater=true;"
	ng-hide="hide">

	<table>
		<tr>
			<td><a href="http://localhost:8080/WEB_Project/home.html">Home</a></td>
			<td><a href="http://localhost:8080/WEB_Project/korpa.html">Korpa</a></td>
			<td ng-hide="hideTest"><a href="http://localhost:8080/WEB_Project/test.html">Test</a></td>
			<td ng-hide="hideProdaja"><a href="http://localhost:8080/WEB_Project/prodavac/prodaja.html">Prodaja</a></td>
			<td ng-hide="hideAddOp"><a href="http://localhost:8080/WEB_Project/admin/addoperater.html">Dodaj Operatera</a></td>
			<td ng-hide="hideAddOp"><a href="http://localhost:8080/WEB_Project/admin/deloperater.html">Brisi Operatera</a></td>
			<td ng-hide="hideOperater"><a href="http://localhost:8080/WEB_Project/operater/odobri.html">Odobravanje slika</a></td>
			<td ng-hide="hideOperater"><a href="http://localhost:8080/WEB_Project/operater/blockuser.html">Blokiranje</a></td>
			<td ng-hide="hideOperater"><a href="http://localhost:8080/WEB_Project/operater/ocenitest.html">Ocenjivanje</a></td>
			<td ng-hide="hideOperater"><a href="http://localhost:8080/WEB_Project/operater/statistika.html">Statistika</a></td>
			<td><a href="http://localhost:8080/WEB_Project/">Log out</a></td>
		</tr>
	</table>

	<div>
		<form novalidate style="text-align: left">
			<table>
				<tr>
					<td>Search By:</td>
					<td><select name="searchBy" ng-model="parameter.search">
							<option value="ALL">ALL</option>
							<option value="ime">Ime</option>
							<option value="autor">Autor</option>
							<option value="kategorija">Kategorija</option>
							<option value="keyword">Keyword</option>
					</select></td>
				</tr>
				<tr>
					<td>Filter:</td>
					<td><select name="filter" ng-model="parameter.filter">
							<option value="None">None</option>
							<option value="datumR">Datum Rastuce</option>
							<option value="datumS">Datum Silazno</option>
							<option value="brProdajeR">Broj Prodaje Rastuce</option>
							<option value="brProdajeS">Broj Prodaje Silazno</option>
							<option value="ceneR">Cene Rastuce</option>
							<option value="ceneS">Cene Silazno</option>
							<option value="imeR">Ime A-Z</option>
							<option value="imeS">Ime Z-A</option>
							<option value="ocenaR">Ocena 1-5</option>
							<option value="ocenaS">Ocena 5-1</option>
					</select></td>
				</tr>
				<tr>
					<td>
						<button ng-click="search(parameter)">Search</button>
					</td>
					<td><input type="text" ng-model="parameter.searchValue"
						placeholder="searchValue"></td>
				</tr>
			</table>
		</form>

		<br />
		<table ng-repeat="item in searchResult"
			style="border: 1px solid black;">
			<tr>
				<td>Ime: {{item.ime}}</td>
			</tr>
			<tr>
				<td>Autor: {{item.autor}}</td>
			</tr>
			<tr>
				<td ng-click="open(item.id)"><img
					data-ng-src="data:image/png;base64,{{item.photo}}" /></td>
			</tr>
		</table>
		<button ng-click="previous()"><</button>
		<button ng-click="next()">></button>
	</div>

</body>
</html>